@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 64px;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.bg-dark {
  background: #000000;
}

.text-primary {
  color: #00FFA3;
}

.text-secondary {
  color: #D1D1D1;
}

.text-white {
  color: #FFFFFF;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.aling-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.gap-1 {
  gap: 4px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-7 {
  gap: 28px;
}

.py-24 {
  padding: 96px 0;
}

.py-10 {
  padding: 40px 0;
}

.py-40 {
  padding: 160px 0;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.ms-auto {
  margin-left: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.btn {
  padding: 12px 24px;
  border-radius: 32px;
  display: flex;
  gap: 4px;
}
.btn:hover {
  color: #00FFA3;
  background: #272822;
  transition: 0.3s;
}

.btn-light {
  color: #000000;
  background: #FFFFFF;
}

.btn-dark {
  color: #FFFFFF;
  background: #000000;
}

.header a:hover {
  color: #00FFA3;
}

.banner {
  padding-top: 72px;
  padding-bottom: 32px;
}

.intro {
  background: url("/assets/images/background-img.png") no-repeat center/cover;
}
.intro-desc {
  max-width: 526px;
}

.about-list {
  max-width: 636px;
}
.about-list li {
  width: calc(50% - 12px);
  border: 1px solid #E3E3E3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0784313725);
  padding: 16px;
}
.about-desc {
  max-width: 526px;
}

.contact {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.contact-link {
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.contact-link:hover {
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.8980392157);
  transition: 0.5s;
}

.project-title {
  max-width: 746px;
}/*# sourceMappingURL=all.css.map */